%article.focus.cf
  %h2 The experiments, ramblings, and portfolio of one Allan.
  %p I am a web developer who knows a lot of HTML and CSS, a chunk of Ruby on Rails, plenty of jQuery, and loves experimenting with JS MVC frameworks like backbone, and ember.  
  %p Here you will find the odd thought, expeiments ranging from very old to not so old, and a few of the sites I have worked on, have a look see I promise not to bite.
%aside.aside.cf
  .block.cf
    .circle.circle_odd
    .circle.circle_even
    .circle.circle_odd.third
    .circle.circle_even
    .circle.circle_odd
    .circle.circle_even.third
    .circle.circle_odd.bottom
    .circle.circle_even.bottom
    .circle.circle_odd.third.bottom
  -#%div.block.block_with_image_left.animatible.JS_flipClick.cf
    -#.flip_front_content
      -#.image
        -#=image_tag 'placeholder.jpg'
      -#%h4 Lorem ipsum dolor
      -#%p.small Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    -#.flip_back_content
      -#%h4 Muhahaha
%section.features.cf
  %h2.color_2 Features :
  %div.block
    %h3.color_2 BackboneJS and QR codes
    %h4.subtext Expiriment
    .image
      =image_tag "placeholder.jpg"
    %p QR codes seem to be rarely used (except in parts of Asia I hear).  This project was an excuse to play with BackboneJS, and ties in some thoughts on where a QR code might be sucessfully used.
    %a.more{:href => "#{expirements_qr_backbone_path}"}
      %span.icon-plus
      More
  %div.block
    %h3.color_2 Lorem ipsum dolor
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %a.more{:href => "#{expirements_qr_backbone_path}"}
      %span.icon-plus
      More
  %div.block
    %h3.color_2 Lorem ipsum dolor
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    %a.more{:href => "#{expirements_qr_backbone_path}"}
      %span.icon-plus
      More
  %div.block
    %h3.color_2 Lorem ipsum dolor
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    %a.more{:href => "#{expirements_qr_backbone_path}"}
      %span.icon-plus
      More
