.SigmarRegular { font-family: SigmarRegular; } 
.SigmarRegular h1{ border: solid 1px #ccc; } 
.NobileRegular { font-family: NobileRegular; } 
.NobileRegular h1{ border: solid 1px #ccc; } 
.NobileItalic { font-family: NobileItalic; } 
.NobileItalic h1{ border: solid 1px #ccc; } 
.NobileBold { font-family: NobileBold; } 
.NobileBold h1{ border: solid 1px #ccc; } 
.NobileBoldItalic { font-family: NobileBoldItalic; } 
.NobileBoldItalic h1{ border: solid 1px #ccc; } 
.MatizRegular { font-family: MatizRegular; } 
.MatizRegular h1{ border: solid 1px #ccc; } 
.MatizRegular { font-family: MatizRegular; } 
.MatizRegular h1{ border: solid 1px #ccc; } 
.SnigletRegular { font-family: SnigletRegular; } 
.SnigletRegular h1{ border: solid 1px #ccc; } 
.OstrichSansCondensedLight { font-family: OstrichSansCondensedLight; } 
.OstrichSansCondensedLight h1{ border: solid 1px #ccc; } 
.OstrichSansMedium { font-family: OstrichSansMedium; } 
.OstrichSansMedium h1{ border: solid 1px #ccc; } 
.OstrichSansBold { font-family: OstrichSansBold; } 
.OstrichSansBold h1{ border: solid 1px #ccc; } 
.OstrichSansBlack { font-family: OstrichSansBlack; } 
.OstrichSansBlack h1{ border: solid 1px #ccc; } 
.OstrichSansRoundedMedium { font-family: OstrichSansRoundedMedium; } 
.OstrichSansRoundedMedium h1{ border: solid 1px #ccc; } 
.OstrichSansDashedMedium { font-family: OstrichSansDashedMedium; } 
.OstrichSansDashedMedium h1{ border: solid 1px #ccc; } 
.ComfortaaThin { font-family: ComfortaaThin; } 
.ComfortaaThin h1{ border: solid 1px #ccc; } 
.ComfortaaRegular { font-family: ComfortaaRegular; } 
.ComfortaaRegular h1{ border: solid 1px #ccc; } 
.ComfortaaBold { font-family: ComfortaaBold; } 
.ComfortaaBold h1{ border: solid 1px #ccc; } 
.PerspectiveSansRegular { font-family: PerspectiveSansRegular; } 
.PerspectiveSansRegular h1{ border: solid 1px #ccc; } 
.PerspectiveSansItalic { font-family: PerspectiveSansItalic; } 
.PerspectiveSansItalic h1{ border: solid 1px #ccc; } 
.PerspectiveSansBold { font-family: PerspectiveSansBold; } 
.PerspectiveSansBold h1{ border: solid 1px #ccc; } 
.PerspectiveSansBoldItalic { font-family: PerspectiveSansBoldItalic; } 
.PerspectiveSansBoldItalic h1{ border: solid 1px #ccc; } 
.PerspectiveSansBlackRegular { font-family: PerspectiveSansBlackRegular; } 
.PerspectiveSansBlackRegular h1{ border: solid 1px #ccc; } 
.PerspectiveSansBlackItalic { font-family: PerspectiveSansBlackItalic; } 
.PerspectiveSansBlackItalic h1{ border: solid 1px #ccc; } 
.MetrophobicRegular { font-family: MetrophobicRegular; } 
.MetrophobicRegular h1{ border: solid 1px #ccc; } 
.CandelaBook { font-family: CandelaBook; } 
.CandelaBook h1{ border: solid 1px #ccc; } 
.CandelaBookItalic { font-family: CandelaBookItalic; } 
.CandelaBookItalic h1{ border: solid 1px #ccc; } 
.CandelaBold { font-family: CandelaBold; } 
.CandelaBold h1{ border: solid 1px #ccc; } 
.CandelaBoldItalic { font-family: CandelaBoldItalic; } 
.CandelaBoldItalic h1{ border: solid 1px #ccc; } 
.CandelaBook { font-family: CandelaBook; } 
.CandelaBook h1{ border: solid 1px #ccc; } 
.CandelaBookItalic { font-family: CandelaBookItalic; } 
.CandelaBookItalic h1{ border: solid 1px #ccc; } 
.CandelaBold { font-family: CandelaBold; } 
.CandelaBold h1{ border: solid 1px #ccc; } 
.CandelaBoldItalic { font-family: CandelaBoldItalic; } 
.CandelaBoldItalic h1{ border: solid 1px #ccc; } 
.MatchbookMatchbook { font-family: MatchbookMatchbook; } 
.MatchbookMatchbook h1{ border: solid 1px #ccc; } 
.CaviarDreamsItalic { font-family: CaviarDreamsItalic; } 
.CaviarDreamsItalic h1{ border: solid 1px #ccc; } 
.CaviarDreamsBoldItalic { font-family: CaviarDreamsBoldItalic; } 
.CaviarDreamsBoldItalic h1{ border: solid 1px #ccc; } 
.CaviarDreamsRegular { font-family: CaviarDreamsRegular; } 
.CaviarDreamsRegular h1{ border: solid 1px #ccc; } 
.CaviarDreamsBold { font-family: CaviarDreamsBold; } 
.CaviarDreamsBold h1{ border: solid 1px #ccc; } 
.AlphaEchoRegular { font-family: AlphaEchoRegular; } 
.AlphaEchoRegular h1{ border: solid 1px #ccc; } 
.DubtronicSolid { font-family: DubtronicSolid; } 
.DubtronicSolid h1{ border: solid 1px #ccc; } 
.DubtronicInline { font-family: DubtronicInline; } 
.DubtronicInline h1{ border: solid 1px #ccc; } 
.InconsolataMedium { font-family: InconsolataMedium; } 
.InconsolataMedium h1{ border: solid 1px #ccc; } 
.TechniqueBRKNormal { font-family: TechniqueBRKNormal; } 
.TechniqueBRKNormal h1{ border: solid 1px #ccc; } 
.TechniqueOLBRKNormal { font-family: TechniqueOLBRKNormal; } 
.TechniqueOLBRKNormal h1{ border: solid 1px #ccc; } 
.MaidenOrangeRegular { font-family: MaidenOrangeRegular; } 
.MaidenOrangeRegular h1{ border: solid 1px #ccc; } 
.PusabRegular { font-family: PusabRegular; } 
.PusabRegular h1{ border: solid 1px #ccc; } 
.PusabRegular { font-family: PusabRegular; } 
.PusabRegular h1{ border: solid 1px #ccc; } 
.LoadedRegular { font-family: LoadedRegular; } 
.LoadedRegular h1{ border: solid 1px #ccc; } 
.Virgo01Regular { font-family: Virgo01Regular; } 
.Virgo01Regular h1{ border: solid 1px #ccc; } 
.GudeaRegular { font-family: GudeaRegular; } 
.GudeaRegular h1{ border: solid 1px #ccc; } 
.GudeaItalic { font-family: GudeaItalic; } 
.GudeaItalic h1{ border: solid 1px #ccc; } 
.GudeaBold { font-family: GudeaBold; } 
.GudeaBold h1{ border: solid 1px #ccc; } 
.DayPosterBlackRegular { font-family: DayPosterBlackRegular; } 
.DayPosterBlackRegular h1{ border: solid 1px #ccc; } 
.FortySecondStreetHBRegular { font-family: FortySecondStreetHBRegular; } 
.FortySecondStreetHBRegular h1{ border: solid 1px #ccc; } 
.AirstreamRegular { font-family: AirstreamRegular; } 
.AirstreamRegular h1{ border: solid 1px #ccc; } 
